<!-- <form action="/scan" method="post">

<input type="text" name="path">

<select name="mode">
<option value="precise">precise</option>
<option value="medium">medium</option>
<option value="agressive">agressive</option>
</select>

<button type="submit">Scan</button>

</form> -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сканер утечек в коде</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
    </header>
    <main>
        <h1>Сканер утечек в коде</h1>
        <form action="/scan" method="post">
        <h3>Введите директорию, в которой будет осуществляться сканирование: </h3>
        <input type="text" name="direct">

        
        <h3>Выберите уровень агрессивности сканирования: </h3>
        <select name="mode">
        <option value="precise">точный</option>
        <option value="medium">средний</option>
        <option value="agressive">абстрактный</option>
        </select>

        <button type="submit">Старт</button>

        </form>
    </main>
</body>
</html>